In [1376]:
import pandas as pd
import string
import random
import numpy as np
from sqlalchemy import create_engine

In [1377]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in ./opt/anaconda3/lib/python3.9/site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [1378]:
#create and test connection
import psycopg2 as pg2

def postgres_test():

    try:
        conn = pg2.connect(host = 'localhost',port = '5432',database = '_TEAM8NFL_10',user = 'postgres',password = '123')
        conn.close()
        return True
    except:
        return False

postgres_test()

True

In [1379]:

# pass the connection string to a variable, conn_string
conn_string = 'postgresql://postgres:123@localhost/_TEAM8NFL_10'

# create an db that connects to PostgreSQL server
db = create_engine(conn_string)

# establish a connection
conn = db.connect()

In [1380]:
# Pass the SQL statements that create all tables

createNFL = '''
DROP TABLE IF EXISTS team cascade;

CREATE TABLE team
(
 teamid			 	int NOT NULL,
 teamname		 	varchar(50) NOT NULL, 
 CONSTRAINT PK_1 PRIMARY KEY ( teamid )
);



DROP TABLE IF EXISTS game cascade;

CREATE TABLE game
(
 gameid          	int NOT NULL,
 season          	int NOT NULL,
 week            	int NOT NULL,
 gameDate        	date NOT NULL,
 homeTeamid		 	int NOT NULL,
 visitorTeamid 	 	int NOT NULL,
 CONSTRAINT PK_2 PRIMARY KEY ( gameid ),
	FOREIGN KEY (homeTeamid) REFERENCES team(teamid),
	FOREIGN KEY (visitorTeamid) REFERENCES team(teamid)
);



DROP TABLE IF EXISTS result cascade;

CREATE TABLE result
(
 resultid        	int NOT NULL,
 result 		 	varchar(50) NOT NULL,
 gameid 	 	 	int NOT NULL,
 CONSTRAINT PK_3 PRIMARY KEY ( resultid ),
	FOREIGN KEY (gameid) REFERENCES game(gameid)
);



DROP TABLE IF EXISTS pass cascade;

CREATE TABLE pass
(
 passid			 	int NOT NULL,
 passResult		 	varchar(50) NOT NULL, 
 CONSTRAINT PK_4 PRIMARY KEY ( passid )
);



DROP TABLE IF EXISTS throw cascade;

CREATE TABLE throw
(
 throwid         	int NOT NULL,
 throwPower      	int NOT NULL,
 throwOnTheRun   	int NOT NULL,
 throwUnderPressure int NOT NULL,
 throwAccuracy		int NOT NULL,
 displayname        varchar(50) NOT NULL,
 CONSTRAINT PK_6 PRIMARY KEY ( throwid )
);



DROP TABLE IF EXISTS playerRating cascade;


CREATE TABLE playerRating
(
 displayName        varchar(50) NOT NULL,
 teamName        	varchar(50) NOT NULL,
 overallRating      int NOT NULL,
 speed      		int NOT NULL,
 acceleration		int NOT NULL,
 awareness			int NOT NULL,
 agility			int NOT NULL,
 strength  			int NOT NULL,
 throwid            int NOT NULL,
 age                int NOT NULL,
 injury             int NOT NULL,
 yearsPro           int NOT NULL,
 CONSTRAINT PK_5 PRIMARY KEY ( displayName ),
   FOREIGN KEY (throwid) REFERENCES throw(throwid)
);



DROP TABLE IF EXISTS player cascade;

CREATE TABLE player
(
 nflid            	int NOT NULL,
 weight           	int NOT NULL,
 birthDate        	timestamp NOT NULL,
 collegeName      	varchar(50) NOT NULL,
 officialPosition 	varchar(50) NOT NULL,
 displayName        varchar(50) NOT NULL,
 CONSTRAINT PK_7 PRIMARY KEY ( nflid ),
	FOREIGN KEY (displayName) REFERENCES playerRating(displayName)
);



DROP TABLE IF EXISTS PlayMovement cascade;

CREATE TABLE PlayMovement
(
 movementid			int NOT NULL,
 frameid       		int NOT NULL,
 time          		timestamp NOT NULL,
 playDirection 		varchar(50) NOT NULL,
 x             		int NOT NULL,
 y             		int NOT NULL,
 nflid         		int NOT NULL,
 CONSTRAINT PK_8 PRIMARY KEY ( movementid ),
	FOREIGN KEY (nflid) REFERENCES player(nflid)
);



DROP TABLE IF EXISTS jersey cascade;

CREATE TABLE jersey
(
 jerseyNumber int NOT NULL,
 nflid        int NOT NULL,
 CONSTRAINT PK_9 PRIMARY KEY ( jerseyNumber ),
 	FOREIGN KEY (nflid) REFERENCES player(nflid)
);



DROP TABLE IF EXISTS plays cascade;

CREATE TABLE plays
(
 playid          int NOT NULL,
 quarter         int NOT NULL,
 down            int NOT NULL,
 yardsToGo       int NOT NULL,
 possessionTeam  varchar(50) NOT NULL,
 defensiveTeam   varchar(50) NOT NULL,
 yardlineSide    varchar(50) NOT NULL,
 passid 		 int NOT NULL,
 offenseFormation varchar(50) NOT NULL,
 CONSTRAINT PK_12 PRIMARY KEY ( playid ),
	FOREIGN KEY (passid) REFERENCES pass(passid)
);



DROP TABLE IF EXISTS timeId cascade;

CREATE TABLE timeId
(
 timeid  		int NOT NULL,
 frameId 		int NOT NULL,
 playId 		int NOT NULL,
 gameId  		int NOT NULL,
 time    		timestamp NOT NULL,
CONSTRAINT PK_13 PRIMARY KEY ( timeid ),
	FOREIGN KEY (playid) REFERENCES plays(playid),
	FOREIGN KEY (gameid) REFERENCES game(gameid)
); 
'''

    
conn.execute(createNFL)

In [1381]:
# TABLE team

In [1382]:
# import csv file
# read in orginal data
team = pd.read_csv('/Users/yagezhang/Desktop/cleaned_games.csv')

# team.columns
team.head()

,Unnamed: 0,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL
1,1,2021091200,2021,1,09/12/2021,13:00:00,ATL,PHI
2,2,2021091201,2021,1,09/12/2021,13:00:00,BUF,PIT
3,3,2021091202,2021,1,09/12/2021,13:00:00,CAR,NYJ
4,4,2021091203,2021,1,09/12/2021,13:00:00,CIN,MIN

In [1383]:
team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       122 non-null    int64
 1   gameId           122 non-null    int64
 2   season           122 non-null    int64
 3   week             122 non-null    int64
 4   gameDate         122 non-null    object
 5   gameTimeEastern  122 non-null    object
 6   homeTeamAbbr     122 non-null    object
 7   visitorTeamAbbr  122 non-null    object
dtypes: int64(4), object(4)
memory usage: 7.8+ KB

In [1384]:
# select columns
team = team[["Unnamed: 0", "homeTeamAbbr"]]
team.head()

   Unnamed: 0 homeTeamAbbr
0           0           TB
1           1          ATL
2           2          BUF
3           3          CAR
4           4          CIN

In [1385]:
# rename column in team table
team = team.rename(columns = {"Unnamed: 0":"teamid", "homeTeamAbbr":"teamname"})
team.tail()

     teamid teamname
117     117      SEA
118     118      DEN
119     119       NO
120     120      MIN
121     121       KC

In [1386]:
# drop rows that have duplicate values across all columns in csv
team.drop_duplicates(subset= ["teamname"], keep="first", inplace=True)
# team.reset_index(inplace = True)

In [1387]:
team.head()

   teamid teamname
0       0       TB
1       1      ATL
2       2      BUF
3       3      CAR
4       4      CIN

In [1388]:
team.to_sql('team', con=conn, if_exists='append', index=False)

32

In [1389]:
# TABLE game

In [1390]:
# import csv file
# read in orginal data
game = pd.read_csv('/Users/yagezhang/Desktop/cleaned_games.csv')

# game.columns
game.head()

,Unnamed: 0,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,0,2021090900,2021,1,09/09/2021,20:20:00,TB,DAL
1,1,2021091200,2021,1,09/12/2021,13:00:00,ATL,PHI
2,2,2021091201,2021,1,09/12/2021,13:00:00,BUF,PIT
3,3,2021091202,2021,1,09/12/2021,13:00:00,CAR,NYJ
4,4,2021091203,2021,1,09/12/2021,13:00:00,CIN,MIN

In [1391]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       122 non-null    int64
 1   gameId           122 non-null    int64
 2   season           122 non-null    int64
 3   week             122 non-null    int64
 4   gameDate         122 non-null    object
 5   gameTimeEastern  122 non-null    object
 6   homeTeamAbbr     122 non-null    object
 7   visitorTeamAbbr  122 non-null    object
dtypes: int64(4), object(4)
memory usage: 7.8+ KB

In [1392]:
game = game[["gameId", "season", "week", "gameDate", "homeTeamAbbr", "visitorTeamAbbr"]]

game.head()

       gameId  season  week    gameDate homeTeamAbbr visitorTeamAbbr
0  2021090900    2021     1  09/09/2021           TB             DAL
1  2021091200    2021     1  09/12/2021          ATL             PHI
2  2021091201    2021     1  09/12/2021          BUF             PIT
3  2021091202    2021     1  09/12/2021          CAR             NYJ
4  2021091203    2021     1  09/12/2021          CIN             MIN

In [1393]:
game1 = pd.merge(game, team, how='left', left_on=["homeTeamAbbr"], right_on=["teamname"])

game1.head()

,gameId,season,week,gameDate,homeTeamAbbr,visitorTeamAbbr,teamid,teamname
0,2021090900,2021,1,09/09/2021,TB,DAL,0,TB
1,2021091200,2021,1,09/12/2021,ATL,PHI,1,ATL
2,2021091201,2021,1,09/12/2021,BUF,PIT,2,BUF
3,2021091202,2021,1,09/12/2021,CAR,NYJ,3,CAR
4,2021091203,2021,1,09/12/2021,CIN,MIN,4,CIN

In [1394]:
# rename column in game table
game1 = game1.rename(columns = {"teamid":"hometeamid"})

game1.head()

,gameId,season,week,gameDate,homeTeamAbbr,visitorTeamAbbr,hometeamid,teamname
0,2021090900,2021,1,09/09/2021,TB,DAL,0,TB
1,2021091200,2021,1,09/12/2021,ATL,PHI,1,ATL
2,2021091201,2021,1,09/12/2021,BUF,PIT,2,BUF
3,2021091202,2021,1,09/12/2021,CAR,NYJ,3,CAR
4,2021091203,2021,1,09/12/2021,CIN,MIN,4,CIN

In [1395]:
game1 = pd.merge(game1, team, how='left', left_on=["visitorTeamAbbr"], right_on=["teamname"])

game1.head()

,gameId,season,week,gameDate,homeTeamAbbr,visitorTeamAbbr,hometeamid,teamname_x,teamid,teamname_y
0,2021090900,2021,1,09/09/2021,TB,DAL,0,TB,47,DAL
1,2021091200,2021,1,09/12/2021,ATL,PHI,1,ATL,24,PHI
2,2021091201,2021,1,09/12/2021,BUF,PIT,2,BUF,25,PIT
3,2021091202,2021,1,09/12/2021,CAR,NYJ,3,CAR,23,NYJ
4,2021091203,2021,1,09/12/2021,CIN,MIN,4,CIN,45,MIN

In [1396]:
# rename column in game table
game1 = game1.rename(columns = {"teamid":"visitorteamid"})

game1.head()

,gameId,season,week,gameDate,homeTeamAbbr,visitorTeamAbbr,hometeamid,teamname_x,visitorteamid,teamname_y
0,2021090900,2021,1,09/09/2021,TB,DAL,0,TB,47,DAL
1,2021091200,2021,1,09/12/2021,ATL,PHI,1,ATL,24,PHI
2,2021091201,2021,1,09/12/2021,BUF,PIT,2,BUF,25,PIT
3,2021091202,2021,1,09/12/2021,CAR,NYJ,3,CAR,23,NYJ
4,2021091203,2021,1,09/12/2021,CIN,MIN,4,CIN,45,MIN

In [1397]:
# select columns
game1 = game1[["gameId", "season", "week", "gameDate", "hometeamid", "visitorteamid"]]

game1.head()

       gameId  season  week    gameDate  hometeamid  visitorteamid
0  2021090900    2021     1  09/09/2021           0             47
1  2021091200    2021     1  09/12/2021           1             24
2  2021091201    2021     1  09/12/2021           2             25
3  2021091202    2021     1  09/12/2021           3             23
4  2021091203    2021     1  09/12/2021           4             45

In [1398]:
# rename column in game table
game1 = game1.rename(columns = {"gameId":"gameid", "gameDate":"gamedate"})

game1.head()

       gameid  season  week    gamedate  hometeamid  visitorteamid
0  2021090900    2021     1  09/09/2021           0             47
1  2021091200    2021     1  09/12/2021           1             24
2  2021091201    2021     1  09/12/2021           2             25
3  2021091202    2021     1  09/12/2021           3             23
4  2021091203    2021     1  09/12/2021           4             45

In [1399]:
game1.to_sql('game', con=conn, if_exists='append', index=False)

122

In [1400]:
# TABLE result

In [1401]:
# import csv file
# read in orginal data
result = pd.read_csv('/Users/yagezhang/Desktop/cleaned_plays2.csv')
# result.columns
#result.iloc[:,0:34].head()
result.head()

,Unnamed: 0,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,655,2021091207,1650,(6:54) R.Tannehill scrambles up the middle for...,2,3,1,TEN,ARI,ARI,...,0,11,I_FORM,"6 OL, 2 RB, 2 TE, 0 WR",10,"4 DL, 6 LB, 1 DB",DESIGNED_RUN,1,Goal Line,Other
1,913,2021091211,1391,(1:14) J.Winston pass short middle to J.Johnso...,2,4,1,NO,GB,GB,...,0,11,JUMBO,"6 OL, 1 RB, 2 TE, 1 WR",9,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Goal Line,Other
2,1439,2021091903,289,(8:20) (No Huddle) C.Wentz sacked at LA 10 for...,1,4,1,IND,LA,LA,...,0,109,SINGLEBACK,"1 RB, 3 TE, 1 WR",8,"3 DL, 3 LB, 5 DB",DESIGNED_ROLLOUT_RIGHT,1,Red Zone,Other
3,1733,2021091907,1540,(5:54) J.Hurts pass incomplete short right to ...,2,1,1,PHI,SF,SF,...,0,11,JUMBO,"6 OL, 1 RB, 3 TE, 0 WR",11,"5 DL, 3 LB, 3 DB",SCRAMBLE_ROLLOUT_RIGHT,1,Goal Line,Other
4,1878,2021091909,3383,(10:23) K.Cousins pass short left to J.Jeffers...,4,1,11,MIN,ARI,MIN,...,0,109,I_FORM,"2 RB, 1 TE, 2 WR",8,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone

In [1402]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              8557 non-null   int64
 1   gameId                  8557 non-null   int64
 2   playId                  8557 non-null   int64
 3   playDescription         8557 non-null   object
 4   quarter                 8557 non-null   int64
 5   down                    8557 non-null   int64
 6   yardsToGo               8557 non-null   int64
 7   possessionTeam          8557 non-null   object
 8   defensiveTeam           8557 non-null   object
 9   yardlineSide            8557 non-null   object
 10  gameClock               8557 non-null   object
 11  preSnapHomeScore        8557 non-null   int64
 12  preSnapVisitorScore     8557 non-null   int64
 13  passResult              8557 non-null   object
 14  penaltyYards            8557 non-null   int64
 15  prePenaltyPlayResult    8557 non-null   int64
 16  playResult              8557 non-null   int64
 17  foulName1               8557 non-null   object
 18  foulNFLId1              8557 non-null   int64
 19  foulName2               8557 non-null   object
 20  foulNFLId2              8557 non-null   int64
 21  foulName3               8557 non-null   object
 22  foulNFLId3              8557 non-null   int64
 23  absoluteYardlineNumber  8557 non-null   int64
 24  offenseFormation        8557 non-null   object
 25  personnelO              8557 non-null   object
 26  defendersInBox          8557 non-null   int64
 27  personnelD              8557 non-null   object
 28  dropBackType            8557 non-null   object
 29  pff_playAction          8557 non-null   int64
 30  pff_passCoverage        8557 non-null   object
 31  pff_passCoverageType    8557 non-null   object
dtypes: int64(17), object(15)
memory usage: 2.1+ MB

In [1403]:
# select columns
result = result[["Unnamed: 0", "playResult", "gameId"]]
result.head()

   Unnamed: 0  playResult      gameId
0         655           1  2021091207
1         913           1  2021091211
2        1439          -9  2021091903
3        1733           0  2021091907
4        1878           7  2021091909

In [1404]:
# rename column in result table
result = result.rename(columns = {"Unnamed: 0":"resultid", "playResult":"result", "gameId":"gameid"})
result.head()

   resultid  result      gameid
0       655       1  2021091207
1       913       1  2021091211
2      1439      -9  2021091903
3      1733       0  2021091907
4      1878       7  2021091909

In [1405]:
result.to_sql('result', con=conn, if_exists='append', index=False)

557

In [1406]:
# TABLE pass

In [1407]:
# import csv file
# read in orginal data
pass_df = pd.read_csv('/Users/yagezhang/Desktop/cleaned_plays2.csv')

# pass_df.columns
pass_df.head()

,Unnamed: 0,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,655,2021091207,1650,(6:54) R.Tannehill scrambles up the middle for...,2,3,1,TEN,ARI,ARI,...,0,11,I_FORM,"6 OL, 2 RB, 2 TE, 0 WR",10,"4 DL, 6 LB, 1 DB",DESIGNED_RUN,1,Goal Line,Other
1,913,2021091211,1391,(1:14) J.Winston pass short middle to J.Johnso...,2,4,1,NO,GB,GB,...,0,11,JUMBO,"6 OL, 1 RB, 2 TE, 1 WR",9,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Goal Line,Other
2,1439,2021091903,289,(8:20) (No Huddle) C.Wentz sacked at LA 10 for...,1,4,1,IND,LA,LA,...,0,109,SINGLEBACK,"1 RB, 3 TE, 1 WR",8,"3 DL, 3 LB, 5 DB",DESIGNED_ROLLOUT_RIGHT,1,Red Zone,Other
3,1733,2021091907,1540,(5:54) J.Hurts pass incomplete short right to ...,2,1,1,PHI,SF,SF,...,0,11,JUMBO,"6 OL, 1 RB, 3 TE, 0 WR",11,"5 DL, 3 LB, 3 DB",SCRAMBLE_ROLLOUT_RIGHT,1,Goal Line,Other
4,1878,2021091909,3383,(10:23) K.Cousins pass short left to J.Jeffers...,4,1,11,MIN,ARI,MIN,...,0,109,I_FORM,"2 RB, 1 TE, 2 WR",8,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone

In [1408]:
pass_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              8557 non-null   int64
 1   gameId                  8557 non-null   int64
 2   playId                  8557 non-null   int64
 3   playDescription         8557 non-null   object
 4   quarter                 8557 non-null   int64
 5   down                    8557 non-null   int64
 6   yardsToGo               8557 non-null   int64
 7   possessionTeam          8557 non-null   object
 8   defensiveTeam           8557 non-null   object
 9   yardlineSide            8557 non-null   object
 10  gameClock               8557 non-null   object
 11  preSnapHomeScore        8557 non-null   int64
 12  preSnapVisitorScore     8557 non-null   int64
 13  passResult              8557 non-null   object
 14  penaltyYards            8557 non-null   int64
 15  prePenaltyPlayResult    8557 non-null   int64
 16  playResult              8557 non-null   int64
 17  foulName1               8557 non-null   object
 18  foulNFLId1              8557 non-null   int64
 19  foulName2               8557 non-null   object
 20  foulNFLId2              8557 non-null   int64
 21  foulName3               8557 non-null   object
 22  foulNFLId3              8557 non-null   int64
 23  absoluteYardlineNumber  8557 non-null   int64
 24  offenseFormation        8557 non-null   object
 25  personnelO              8557 non-null   object
 26  defendersInBox          8557 non-null   int64
 27  personnelD              8557 non-null   object
 28  dropBackType            8557 non-null   object
 29  pff_playAction          8557 non-null   int64
 30  pff_passCoverage        8557 non-null   object
 31  pff_passCoverageType    8557 non-null   object
dtypes: int64(17), object(15)
memory usage: 2.1+ MB

In [1409]:
# select columns
pass_df = pass_df[["Unnamed: 0", "passResult"]]
pass_df.head()

   Unnamed: 0 passResult
0         655          R
1         913          C
2        1439          S
3        1733          I
4        1878          C

In [1410]:
# rename columns name
pass_df = pass_df.rename(columns = {"Unnamed: 0":"passid", "passResult":"passresult"})
pass_df.head()

   passid passresult
0     655          R
1     913          C
2    1439          S
3    1733          I
4    1878          C

In [1411]:
pass_df.to_sql('pass', con=conn, if_exists='append', index=False)

557

In [1412]:
#TABLE throw

In [1413]:
# import madden21_ratings.csv file
# read in orginal data
throw = pd.read_csv('/Users/yagezhang/Desktop/cleaned_madden21_ratings2.csv')

# throw.columns
throw.head()

,Unnamed: 0,Team,Full Name,Overall Rating,Position,Age,Speed,Acceleration,Awareness,Agility,...,Jersey Number,Total Salary,Signing Bonus,Archetype,Running Style,Years Pro,Height,Weight,Birthdate,College
0,0,Broncos,A.J. Bouye,84,CB,29,89,94,86,90,...,21,"$57,440,000.00","$6,000,000.00",CB_Zone,Default Stride Loose,7,72,191,8/16/91,UCF
1,1,Titans,A.J. Brown,81,WR,23,90,92,87,87,...,11,"$3,280,000.00","$2,370,000.00",WR_DeepThreat,Default Stride Loose,1,72,226,6/30/97,Ole Miss
2,2,Jaguars,A.J. Cann,71,RG,28,55,71,80,56,...,60,"$9,250,000.00","$5,780,000.00",G_Power,Default Stride Awkward,5,75,325,10/23/91,South Carolina
3,3,Packers,A.J. Dillon,72,HB,22,88,87,70,79,...,28,"$5,285,825.00","$1,400,000.00",HB_PowerBack,Default Stride High and Tight,0,72,247,5/2/98,Boston College
4,4,Bills,A.J. Epenesa,72,LE,21,74,81,77,75,...,57,"$3,660,000.00","$2,220,000.00",DE_PowerRusher,Long Stride Default,0,77,280,9/15/98,Iowa

In [1414]:
throw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 70 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1174 non-null   int64
 1   Team                  1174 non-null   object
 2   Full Name             1174 non-null   object
 3   Overall Rating        1174 non-null   int64
 4   Position              1174 non-null   object
 5   Age                   1174 non-null   int64
 6   Speed                 1174 non-null   int64
 7   Acceleration          1174 non-null   int64
 8   Awareness             1174 non-null   int64
 9   Agility               1174 non-null   int64
 10  Strength              1174 non-null   int64
 11  Throw Power           1174 non-null   int64
 12  Throw On The Run      1174 non-null   int64
 13  Throw Under Pressure  1174 non-null   int64
 14  Throw Accuracy Short  1174 non-null   int64
 15  Throw Accuracy Mid    1174 non-null   int64
 16  Throw Accuracy Deep   1174 non-null   int64
 17  Release               1174 non-null   int64
 18  Ball Carrier Vision   1174 non-null   int64
 19  Stamina               1174 non-null   int64
 20  Carrying              1174 non-null   int64
 21  Play Action           1174 non-null   int64
 22  Pursuit               1174 non-null   int64
 23  Play Recognition      1174 non-null   int64
 24  Short Route Running   1174 non-null   int64
 25  Medium Route Running  1174 non-null   int64
 26  Deep Route Running    1174 non-null   int64
 27  Catch In Traffic      1174 non-null   int64
 28  Catching              1174 non-null   int64
 29  Spin Move             1174 non-null   int64
 30  Finesse Moves         1174 non-null   int64
 31  Spectacular Catch     1174 non-null   int64
 32  Jumping               1174 non-null   int64
 33  Tackle                1174 non-null   int64
 34  Zone Coverage         1174 non-null   int64
 35  Man Coverage          1174 non-null   int64
 36  Trucking              1174 non-null   int64
 37  Juke Move             1174 non-null   int64
 38  Break Sack            1174 non-null   int64
 39  Toughness             1174 non-null   int64
 40  Stiff Arm             1174 non-null   int64
 41  Power Moves           1174 non-null   int64
 42  Lead Blocking         1174 non-null   int64
 43  Run Block Power       1174 non-null   int64
 44  Run Blocking          1174 non-null   int64
 45  Hit Power             1174 non-null   int64
 46  Pass Block Finesse    1174 non-null   int64
 47  Pass Block Power      1174 non-null   int64
 48  Pass Blocking         1174 non-null   int64
 49  Impact Blocking       1174 non-null   int64
 50  Kick Return           1174 non-null   int64
 51  Kick Accuracy         1174 non-null   int64
 52  Break Tackle          1174 non-null   int64
 53  Kick Power            1174 non-null   int64
 54  Change Of Direction   1174 non-null   int64
 55  Press                 1174 non-null   int64
 56  Block Shedding        1174 non-null   int64
 57  Run Block Finesse     1174 non-null   int64
 58  Injury                1174 non-null   int64
 59  Player Handedness     1174 non-null   object
 60  Jersey Number         1174 non-null   int64
 61   Total Salary         1174 non-null   object
 62   Signing Bonus        1174 non-null   object
 63  Archetype             1174 non-null   object
 64  Running Style         1174 non-null   object
 65  Years Pro             1174 non-null   int64
 66  Height                1174 non-null   int64
 67  Weight                1174 non-null   int64
 68  Birthdate             1174 non-null   object
 69  College               1174 non-null   object
dtypes: int64(60), object(10)
memory usage: 642.2+ KB

In [1415]:
# select columns
throw = throw[["Unnamed: 0", "Throw Power", "Throw On The Run", "Throw Under Pressure", "Throw Accuracy Short", "Throw Accuracy Mid", "Throw Accuracy Deep", "Full Name"]]
throw.head()

,Unnamed: 0,Throw Power,Throw On The Run,Throw Under Pressure,Throw Accuracy Short,Throw Accuracy Mid,Throw Accuracy Deep,Full Name
0,0,27,6,10,6,6,6,A.J. Bouye
1,1,34,10,19,15,10,6,A.J. Brown
2,2,11,6,12,6,6,6,A.J. Cann
3,3,31,18,15,20,15,10,A.J. Dillon
4,4,24,6,14,6,6,6,A.J. Epenesa

In [1416]:
# totalaccuracy

throw["throwaccuracy"] = throw["Throw Accuracy Short"] + throw["Throw Accuracy Mid"] + throw["Throw Accuracy Deep"]
throw.head()

,Unnamed: 0,Throw Power,Throw On The Run,Throw Under Pressure,Throw Accuracy Short,Throw Accuracy Mid,Throw Accuracy Deep,Full Name,throwaccuracy
0,0,27,6,10,6,6,6,A.J. Bouye,18
1,1,34,10,19,15,10,6,A.J. Brown,31
2,2,11,6,12,6,6,6,A.J. Cann,18
3,3,31,18,15,20,15,10,A.J. Dillon,45
4,4,24,6,14,6,6,6,A.J. Epenesa,18

In [1417]:
# select columns
throw = throw[["Unnamed: 0", "Throw Power", "Throw On The Run", "Throw Under Pressure", "throwaccuracy", "Full Name"]]
throw.head()

,Unnamed: 0,Throw Power,Throw On The Run,Throw Under Pressure,throwaccuracy,Full Name
0,0,27,6,10,18,A.J. Bouye
1,1,34,10,19,31,A.J. Brown
2,2,11,6,12,18,A.J. Cann
3,3,31,18,15,45,A.J. Dillon
4,4,24,6,14,18,A.J. Epenesa

In [1418]:
# rename column in throw table
throw = throw.rename(columns = {"Unnamed: 0":"throwid", "Throw Power":"throwpower", "Throw On The Run":"throwontherun", "Throw Under Pressure":"throwunderpressure", "Full Name":"displayname"})

throw.head()

,throwid,throwpower,throwontherun,throwunderpressure,throwaccuracy,displayname
0,0,27,6,10,18,A.J. Bouye
1,1,34,10,19,31,A.J. Brown
2,2,11,6,12,18,A.J. Cann
3,3,31,18,15,45,A.J. Dillon
4,4,24,6,14,18,A.J. Epenesa

In [1419]:
# select columns
throw = throw[["throwid", "throwpower", "throwontherun", "throwunderpressure", "throwaccuracy", "displayname"]]
throw.head()

,throwid,throwpower,throwontherun,throwunderpressure,throwaccuracy,displayname
0,0,27,6,10,18,A.J. Bouye
1,1,34,10,19,31,A.J. Brown
2,2,11,6,12,18,A.J. Cann
3,3,31,18,15,45,A.J. Dillon
4,4,24,6,14,18,A.J. Epenesa

In [1420]:
throw.to_sql('throw', con=conn, if_exists='append', index=False)

174

In [1421]:
# TABLE playerrating

In [1422]:
# import madden21_ratings.csv file
# read in orginal data
player_rating = pd.read_csv('/Users/yagezhang/Desktop/cleaned_madden21_ratings2.csv')

# playerrating.columns
player_rating.head()

,Unnamed: 0,Team,Full Name,Overall Rating,Position,Age,Speed,Acceleration,Awareness,Agility,...,Jersey Number,Total Salary,Signing Bonus,Archetype,Running Style,Years Pro,Height,Weight,Birthdate,College
0,0,Broncos,A.J. Bouye,84,CB,29,89,94,86,90,...,21,"$57,440,000.00","$6,000,000.00",CB_Zone,Default Stride Loose,7,72,191,8/16/91,UCF
1,1,Titans,A.J. Brown,81,WR,23,90,92,87,87,...,11,"$3,280,000.00","$2,370,000.00",WR_DeepThreat,Default Stride Loose,1,72,226,6/30/97,Ole Miss
2,2,Jaguars,A.J. Cann,71,RG,28,55,71,80,56,...,60,"$9,250,000.00","$5,780,000.00",G_Power,Default Stride Awkward,5,75,325,10/23/91,South Carolina
3,3,Packers,A.J. Dillon,72,HB,22,88,87,70,79,...,28,"$5,285,825.00","$1,400,000.00",HB_PowerBack,Default Stride High and Tight,0,72,247,5/2/98,Boston College
4,4,Bills,A.J. Epenesa,72,LE,21,74,81,77,75,...,57,"$3,660,000.00","$2,220,000.00",DE_PowerRusher,Long Stride Default,0,77,280,9/15/98,Iowa

In [1423]:
player_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 70 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1174 non-null   int64
 1   Team                  1174 non-null   object
 2   Full Name             1174 non-null   object
 3   Overall Rating        1174 non-null   int64
 4   Position              1174 non-null   object
 5   Age                   1174 non-null   int64
 6   Speed                 1174 non-null   int64
 7   Acceleration          1174 non-null   int64
 8   Awareness             1174 non-null   int64
 9   Agility               1174 non-null   int64
 10  Strength              1174 non-null   int64
 11  Throw Power           1174 non-null   int64
 12  Throw On The Run      1174 non-null   int64
 13  Throw Under Pressure  1174 non-null   int64
 14  Throw Accuracy Short  1174 non-null   int64
 15  Throw Accuracy Mid    1174 non-null   int64
 16  Throw Accuracy Deep   1174 non-null   int64
 17  Release               1174 non-null   int64
 18  Ball Carrier Vision   1174 non-null   int64
 19  Stamina               1174 non-null   int64
 20  Carrying              1174 non-null   int64
 21  Play Action           1174 non-null   int64
 22  Pursuit               1174 non-null   int64
 23  Play Recognition      1174 non-null   int64
 24  Short Route Running   1174 non-null   int64
 25  Medium Route Running  1174 non-null   int64
 26  Deep Route Running    1174 non-null   int64
 27  Catch In Traffic      1174 non-null   int64
 28  Catching              1174 non-null   int64
 29  Spin Move             1174 non-null   int64
 30  Finesse Moves         1174 non-null   int64
 31  Spectacular Catch     1174 non-null   int64
 32  Jumping               1174 non-null   int64
 33  Tackle                1174 non-null   int64
 34  Zone Coverage         1174 non-null   int64
 35  Man Coverage          1174 non-null   int64
 36  Trucking              1174 non-null   int64
 37  Juke Move             1174 non-null   int64
 38  Break Sack            1174 non-null   int64
 39  Toughness             1174 non-null   int64
 40  Stiff Arm             1174 non-null   int64
 41  Power Moves           1174 non-null   int64
 42  Lead Blocking         1174 non-null   int64
 43  Run Block Power       1174 non-null   int64
 44  Run Blocking          1174 non-null   int64
 45  Hit Power             1174 non-null   int64
 46  Pass Block Finesse    1174 non-null   int64
 47  Pass Block Power      1174 non-null   int64
 48  Pass Blocking         1174 non-null   int64
 49  Impact Blocking       1174 non-null   int64
 50  Kick Return           1174 non-null   int64
 51  Kick Accuracy         1174 non-null   int64
 52  Break Tackle          1174 non-null   int64
 53  Kick Power            1174 non-null   int64
 54  Change Of Direction   1174 non-null   int64
 55  Press                 1174 non-null   int64
 56  Block Shedding        1174 non-null   int64
 57  Run Block Finesse     1174 non-null   int64
 58  Injury                1174 non-null   int64
 59  Player Handedness     1174 non-null   object
 60  Jersey Number         1174 non-null   int64
 61   Total Salary         1174 non-null   object
 62   Signing Bonus        1174 non-null   object
 63  Archetype             1174 non-null   object
 64  Running Style         1174 non-null   object
 65  Years Pro             1174 non-null   int64
 66  Height                1174 non-null   int64
 67  Weight                1174 non-null   int64
 68  Birthdate             1174 non-null   object
 69  College               1174 non-null   object
dtypes: int64(60), object(10)
memory usage: 642.2+ KB

In [1424]:
player_rating1 = pd.merge(player_rating, throw, how='left', left_on=["Full Name"], right_on=["displayname"])

player_rating1.head()

,Unnamed: 0,Team,Full Name,Overall Rating,Position,Age,Speed,Acceleration,Awareness,Agility,...,Height,Weight,Birthdate,College,throwid,throwpower,throwontherun,throwunderpressure,throwaccuracy,displayname
0,0,Broncos,A.J. Bouye,84,CB,29,89,94,86,90,...,72,191,8/16/91,UCF,0,27,6,10,18,A.J. Bouye
1,1,Titans,A.J. Brown,81,WR,23,90,92,87,87,...,72,226,6/30/97,Ole Miss,1,34,10,19,31,A.J. Brown
2,2,Jaguars,A.J. Cann,71,RG,28,55,71,80,56,...,75,325,10/23/91,South Carolina,2,11,6,12,18,A.J. Cann
3,3,Packers,A.J. Dillon,72,HB,22,88,87,70,79,...,72,247,5/2/98,Boston College,3,31,18,15,45,A.J. Dillon
4,4,Bills,A.J. Epenesa,72,LE,21,74,81,77,75,...,77,280,9/15/98,Iowa,4,24,6,14,18,A.J. Epenesa

In [1425]:
# select columns
player_rating1 = player_rating1[["Full Name", "Team", "Overall Rating", "Speed", "Acceleration", "Awareness", "Agility", "Strength", "throwid", "Age", "Injury", "Years Pro"]]
player_rating1.head()

,Full Name,Team,Overall Rating,Speed,Acceleration,Awareness,Agility,Strength,throwid,Age,Injury,Years Pro
0,A.J. Bouye,Broncos,84,89,94,86,90,66,0,29,83,7
1,A.J. Brown,Titans,81,90,92,87,87,73,1,23,88,1
2,A.J. Cann,Jaguars,71,55,71,80,56,88,2,28,93,5
3,A.J. Dillon,Packers,72,88,87,70,79,80,3,22,91,0
4,A.J. Epenesa,Bills,72,74,81,77,75,84,4,21,92,0

In [1426]:
# rename column in player_rating table
player_rating1 = player_rating1.rename(columns = {"Full Name":"displayname", "Team":"teamname", "Overall Rating":"overallrating", "Speed":"speed", 
                                                "Acceleration":"acceleration", "Awareness":"awareness", "Agility":"agility", 
                                                "Strength":"strength","Age":"age", "Injury":"injury", "Years Pro":"yearspro"})

player_rating1.head()

,displayname,teamname,overallrating,speed,acceleration,awareness,agility,strength,throwid,age,injury,yearspro
0,A.J. Bouye,Broncos,84,89,94,86,90,66,0,29,83,7
1,A.J. Brown,Titans,81,90,92,87,87,73,1,23,88,1
2,A.J. Cann,Jaguars,71,55,71,80,56,88,2,28,93,5
3,A.J. Dillon,Packers,72,88,87,70,79,80,3,22,91,0
4,A.J. Epenesa,Bills,72,74,81,77,75,84,4,21,92,0

In [1427]:
player_rating1.to_sql('playerrating', con=conn, if_exists='append', index=False)

174

In [1428]:
# TABLE player

In [1429]:
# import csv file
# read in orginal data
player = pd.read_csv('/Users/yagezhang/Desktop/cleaned_players2.csv')

# player.columns
player.head()

,Unnamed: 0,nflId,weight,birthDate,collegeName,officialPosition,displayName
0,1072,25511,225,8/3/77,Michigan,QB,Tom Brady
1,108,28963,240,3/2/82,"Miami, O.",QB,Ben Roethlisberger
2,562,29550,328,1/22/82,Arkansas,T,Jason Peters
3,12,29851,225,12/2/83,California,QB,Aaron Rodgers
4,981,30078,228,11/24/82,Harvard,QB,Ryan Fitzpatrick

In [1430]:
player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1174 non-null   int64
 1   nflId             1174 non-null   int64
 2   weight            1174 non-null   int64
 3   birthDate         1174 non-null   object
 4   collegeName       1174 non-null   object
 5   officialPosition  1174 non-null   object
 6   displayName       1174 non-null   object
dtypes: int64(3), object(4)
memory usage: 64.3+ KB

In [1431]:
player1 = pd.merge(player, player_rating1, how='left', left_on=["displayName"], right_on=["displayname"])

player1.head()

,Unnamed: 0,nflId,weight,birthDate,collegeName,officialPosition,displayName,displayname,teamname,overallrating,speed,acceleration,awareness,agility,strength,throwid,age,injury,yearspro
0,1072,25511,225,8/3/77,Michigan,QB,Tom Brady,Tom Brady,Buccaneers,90,60,66,91,70,64,1072,43,99,20
1,108,28963,240,3/2/82,"Miami, O.",QB,Ben Roethlisberger,Ben Roethlisberger,Steelers,81,72,78,90,67,82,108,38,86,16
2,562,29550,328,1/22/82,Arkansas,T,Jason Peters,Jason Peters,Eagles,82,66,73,82,62,95,562,38,86,16
3,12,29851,225,12/2/83,California,QB,Aaron Rodgers,Aaron Rodgers,Packers,89,77,82,92,82,58,12,36,90,15
4,981,30078,228,11/24/82,Harvard,QB,Ryan Fitzpatrick,Ryan Fitzpatrick,Dolphins,74,70,79,80,72,57,981,37,89,15

In [1432]:
# select columns
player1 = player1[["nflId", "weight", "birthDate", "collegeName", "officialPosition", "displayName"]]
player1.head()

   nflId  weight birthDate collegeName officialPosition         displayName
0  25511     225    8/3/77    Michigan               QB           Tom Brady
1  28963     240    3/2/82   Miami, O.               QB  Ben Roethlisberger
2  29550     328   1/22/82    Arkansas                T        Jason Peters
3  29851     225   12/2/83  California               QB       Aaron Rodgers
4  30078     228  11/24/82     Harvard               QB    Ryan Fitzpatrick

In [1433]:
# rename column in player table
player1 = player1.rename(columns = {"nflId":"nflid", "birthDate":"birthdate", "collegeName":"collegename", "officialPosition":"officialposition", "displayName":"displayname"})

player1.head()

   nflid  weight birthdate collegename officialposition         displayname
0  25511     225    8/3/77    Michigan               QB           Tom Brady
1  28963     240    3/2/82   Miami, O.               QB  Ben Roethlisberger
2  29550     328   1/22/82    Arkansas                T        Jason Peters
3  29851     225   12/2/83  California               QB       Aaron Rodgers
4  30078     228  11/24/82     Harvard               QB    Ryan Fitzpatrick

In [1434]:
player1.to_sql('player', con=conn, if_exists='append', index=False)

174

In [1435]:
#TABLE playmovement

In [1436]:
# import csv file
# read in orginal data
play_movement = pd.read_csv('/Users/yagezhang/Desktop/cleaned_week.csv')

# play_movement.columns
play_movement.head()

,Unnamed: 0,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,0,2021090900,97,25511,1,2021-09-10T00:26:31.100,12,TB,right,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None
1,1,2021090900,97,25511,2,2021-09-10T00:26:31.200,12,TB,right,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None
2,2,2021090900,97,25511,3,2021-09-10T00:26:31.300,12,TB,right,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None
3,3,2021090900,97,25511,4,2021-09-10T00:26:31.400,12,TB,right,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None
4,4,2021090900,97,25511,5,2021-09-10T00:26:31.500,12,TB,right,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None

In [1437]:
play_movement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781224 entries, 0 to 781223
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     781224 non-null  int64
 1   gameId         781224 non-null  int64
 2   playId         781224 non-null  int64
 3   nflId          781224 non-null  int64
 4   frameId        781224 non-null  int64
 5   time           781224 non-null  object
 6   jerseyNumber   781224 non-null  int64
 7   team           781224 non-null  object
 8   playDirection  781224 non-null  object
 9   x              781224 non-null  float64
 10  y              781224 non-null  float64
 11  s              781224 non-null  float64
 12  a              781224 non-null  float64
 13  dis            781224 non-null  float64
 14  o              781224 non-null  float64
 15  dir            781224 non-null  float64
 16  event          781224 non-null  object
dtypes: float64(7), int64(6), object(4)
memory usage: 101.3+ MB

In [1438]:
play_movement1 = pd.merge(play_movement, player, how='left', left_on=["nflId"], right_on=["nflId"])

play_movement1.head()

,Unnamed: 0_x,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,...,dis,o,dir,event,Unnamed: 0_y,weight,birthDate,collegeName,officialPosition,displayName
0,0,2021090900,97,25511,1,2021-09-10T00:26:31.100,12,TB,right,37.77,...,0.03,165.16,84.99,None,1072,225,8/3/77,Michigan,QB,Tom Brady
1,1,2021090900,97,25511,2,2021-09-10T00:26:31.200,12,TB,right,37.78,...,0.02,164.33,92.87,None,1072,225,8/3/77,Michigan,QB,Tom Brady
2,2,2021090900,97,25511,3,2021-09-10T00:26:31.300,12,TB,right,37.78,...,0.01,160.24,68.55,None,1072,225,8/3/77,Michigan,QB,Tom Brady
3,3,2021090900,97,25511,4,2021-09-10T00:26:31.400,12,TB,right,37.73,...,0.06,152.13,296.85,None,1072,225,8/3/77,Michigan,QB,Tom Brady
4,4,2021090900,97,25511,5,2021-09-10T00:26:31.500,12,TB,right,37.69,...,0.04,148.33,287.55,None,1072,225,8/3/77,Michigan,QB,Tom Brady

In [1439]:
# select columns
play_movement1 = play_movement1[["Unnamed: 0_x", "frameId","time", "playDirection", "x", "y", "nflId"]]
play_movement1.head()

,Unnamed: 0_x,frameId,time,playDirection,x,y,nflId
0,0,1,2021-09-10T00:26:31.100,right,37.77,24.22,25511
1,1,2,2021-09-10T00:26:31.200,right,37.78,24.22,25511
2,2,3,2021-09-10T00:26:31.300,right,37.78,24.24,25511
3,3,4,2021-09-10T00:26:31.400,right,37.73,24.25,25511
4,4,5,2021-09-10T00:26:31.500,right,37.69,24.26,25511

In [1440]:
# rename column in player table
play_movement1 = play_movement1.rename(columns = {"Unnamed: 0_x":"movementid", "frameId":"frameid", "playDirection":"playdirection", "nflId":"nflid"})

play_movement1.head()

,movementid,frameid,time,playdirection,x,y,nflid
0,0,1,2021-09-10T00:26:31.100,right,37.77,24.22,25511
1,1,2,2021-09-10T00:26:31.200,right,37.78,24.22,25511
2,2,3,2021-09-10T00:26:31.300,right,37.78,24.24,25511
3,3,4,2021-09-10T00:26:31.400,right,37.73,24.25,25511
4,4,5,2021-09-10T00:26:31.500,right,37.69,24.26,25511

In [1441]:
play_movement1.to_sql('playmovement', con=conn, if_exists='append', index=False)

224

In [1442]:
#TABLE jersey

In [1443]:
# import csv file
# read in orginal data
jersey = pd.read_csv('/Users/yagezhang/Desktop/cleaned_week.csv')

# jersey.columns
jersey.head()

,Unnamed: 0,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,0,2021090900,97,25511,1,2021-09-10T00:26:31.100,12,TB,right,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None
1,1,2021090900,97,25511,2,2021-09-10T00:26:31.200,12,TB,right,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None
2,2,2021090900,97,25511,3,2021-09-10T00:26:31.300,12,TB,right,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None
3,3,2021090900,97,25511,4,2021-09-10T00:26:31.400,12,TB,right,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None
4,4,2021090900,97,25511,5,2021-09-10T00:26:31.500,12,TB,right,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None

In [1444]:
jersey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781224 entries, 0 to 781223
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     781224 non-null  int64
 1   gameId         781224 non-null  int64
 2   playId         781224 non-null  int64
 3   nflId          781224 non-null  int64
 4   frameId        781224 non-null  int64
 5   time           781224 non-null  object
 6   jerseyNumber   781224 non-null  int64
 7   team           781224 non-null  object
 8   playDirection  781224 non-null  object
 9   x              781224 non-null  float64
 10  y              781224 non-null  float64
 11  s              781224 non-null  float64
 12  a              781224 non-null  float64
 13  dis            781224 non-null  float64
 14  o              781224 non-null  float64
 15  dir            781224 non-null  float64
 16  event          781224 non-null  object
dtypes: float64(7), int64(6), object(4)
memory usage: 101.3+ MB

In [1445]:
jersey1 = pd.merge(jersey, player, how='left', left_on=["nflId"], right_on=["nflId"])

jersey1.head()

,Unnamed: 0_x,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,...,dis,o,dir,event,Unnamed: 0_y,weight,birthDate,collegeName,officialPosition,displayName
0,0,2021090900,97,25511,1,2021-09-10T00:26:31.100,12,TB,right,37.77,...,0.03,165.16,84.99,None,1072,225,8/3/77,Michigan,QB,Tom Brady
1,1,2021090900,97,25511,2,2021-09-10T00:26:31.200,12,TB,right,37.78,...,0.02,164.33,92.87,None,1072,225,8/3/77,Michigan,QB,Tom Brady
2,2,2021090900,97,25511,3,2021-09-10T00:26:31.300,12,TB,right,37.78,...,0.01,160.24,68.55,None,1072,225,8/3/77,Michigan,QB,Tom Brady
3,3,2021090900,97,25511,4,2021-09-10T00:26:31.400,12,TB,right,37.73,...,0.06,152.13,296.85,None,1072,225,8/3/77,Michigan,QB,Tom Brady
4,4,2021090900,97,25511,5,2021-09-10T00:26:31.500,12,TB,right,37.69,...,0.04,148.33,287.55,None,1072,225,8/3/77,Michigan,QB,Tom Brady

In [1446]:
# select columns
jersey1 = jersey1[["Unnamed: 0_x", "nflId"]]
jersey1.head()

   Unnamed: 0_x  nflId
0             0  25511
1             1  25511
2             2  25511
3             3  25511
4             4  25511

In [1447]:
# rename column in player table
jersey1 = jersey1.rename(columns = {"Unnamed: 0_x":"jerseynumber", "nflId":"nflid"})

jersey1.head()

   jerseynumber  nflid
0             0  25511
1             1  25511
2             2  25511
3             3  25511
4             4  25511

In [1448]:
jersey1.to_sql('jersey', con=conn, if_exists='append', index=False)

224

In [1449]:
# TABLE plays

In [1450]:
# import csv file
# read in orginal data
play = pd.read_csv('/Users/yagezhang/Desktop/cleaned_plays2.csv')

# play.columns
play.head()

,Unnamed: 0,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,...,foulNFLId3,absoluteYardlineNumber,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType
0,655,2021091207,1650,(6:54) R.Tannehill scrambles up the middle for...,2,3,1,TEN,ARI,ARI,...,0,11,I_FORM,"6 OL, 2 RB, 2 TE, 0 WR",10,"4 DL, 6 LB, 1 DB",DESIGNED_RUN,1,Goal Line,Other
1,913,2021091211,1391,(1:14) J.Winston pass short middle to J.Johnso...,2,4,1,NO,GB,GB,...,0,11,JUMBO,"6 OL, 1 RB, 2 TE, 1 WR",9,"4 DL, 3 LB, 4 DB",TRADITIONAL,1,Goal Line,Other
2,1439,2021091903,289,(8:20) (No Huddle) C.Wentz sacked at LA 10 for...,1,4,1,IND,LA,LA,...,0,109,SINGLEBACK,"1 RB, 3 TE, 1 WR",8,"3 DL, 3 LB, 5 DB",DESIGNED_ROLLOUT_RIGHT,1,Red Zone,Other
3,1733,2021091907,1540,(5:54) J.Hurts pass incomplete short right to ...,2,1,1,PHI,SF,SF,...,0,11,JUMBO,"6 OL, 1 RB, 3 TE, 0 WR",11,"5 DL, 3 LB, 3 DB",SCRAMBLE_ROLLOUT_RIGHT,1,Goal Line,Other
4,1878,2021091909,3383,(10:23) K.Cousins pass short left to J.Jeffers...,4,1,11,MIN,ARI,MIN,...,0,109,I_FORM,"2 RB, 1 TE, 2 WR",8,"3 DL, 4 LB, 4 DB",TRADITIONAL,0,Cover-3,Zone

In [1451]:
play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8557 entries, 0 to 8556
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              8557 non-null   int64
 1   gameId                  8557 non-null   int64
 2   playId                  8557 non-null   int64
 3   playDescription         8557 non-null   object
 4   quarter                 8557 non-null   int64
 5   down                    8557 non-null   int64
 6   yardsToGo               8557 non-null   int64
 7   possessionTeam          8557 non-null   object
 8   defensiveTeam           8557 non-null   object
 9   yardlineSide            8557 non-null   object
 10  gameClock               8557 non-null   object
 11  preSnapHomeScore        8557 non-null   int64
 12  preSnapVisitorScore     8557 non-null   int64
 13  passResult              8557 non-null   object
 14  penaltyYards            8557 non-null   int64
 15  prePenaltyPlayResult    8557 non-null   int64
 16  playResult              8557 non-null   int64
 17  foulName1               8557 non-null   object
 18  foulNFLId1              8557 non-null   int64
 19  foulName2               8557 non-null   object
 20  foulNFLId2              8557 non-null   int64
 21  foulName3               8557 non-null   object
 22  foulNFLId3              8557 non-null   int64
 23  absoluteYardlineNumber  8557 non-null   int64
 24  offenseFormation        8557 non-null   object
 25  personnelO              8557 non-null   object
 26  defendersInBox          8557 non-null   int64
 27  personnelD              8557 non-null   object
 28  dropBackType            8557 non-null   object
 29  pff_playAction          8557 non-null   int64
 30  pff_passCoverage        8557 non-null   object
 31  pff_passCoverageType    8557 non-null   object
dtypes: int64(17), object(15)
memory usage: 2.1+ MB

In [1452]:
play1 = pd.merge(play, pass_df, how='left', left_on=["Unnamed: 0"], right_on=["passid"])

play1.tail()

,Unnamed: 0,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,...,offenseFormation,personnelO,defendersInBox,personnelD,dropBackType,pff_playAction,pff_passCoverage,pff_passCoverageType,passid,passresult
8552,8075,2021103107,2425,(12:28) (Shotgun) J.Burrow pass incomplete dee...,3,3,6,CIN,NYJ,0,...,EMPTY,"1 RB, 1 TE, 3 WR",5,"3 DL, 2 LB, 6 DB",TRADITIONAL,0,Cover-1,Man,8075,I
8553,8198,2021103109,903,(13:40) (Shotgun) T.Lawrence pass deep left in...,2,1,10,JAX,SEA,0,...,SHOTGUN,"1 RB, 2 TE, 2 WR",7,"3 DL, 4 LB, 4 DB",TRADITIONAL,1,Cover-1,Man,8198,IN
8554,8354,2021103111,1615,(6:25) T.Siemian pass short middle to G.Griffi...,2,1,10,NO,TB,0,...,SINGLEBACK,"1 RB, 3 TE, 1 WR",6,"3 DL, 4 LB, 4 DB",SCRAMBLE,1,Quarters,Zone,8354,C
8555,8387,2021103111,3882,(5:52) (Shotgun) T.Brady pass deep right to C....,4,1,10,TB,NO,0,...,SHOTGUN,"1 RB, 1 TE, 3 WR",7,"4 DL, 2 LB, 5 DB",TRADITIONAL,0,Cover-0,Man,8387,C
8556,8417,2021103112,1045,(12:49) (Shotgun) K.Cousins pass incomplete sh...,2,3,5,MIN,DAL,0,...,EMPTY,"0 RB, 2 TE, 3 WR",6,"4 DL, 1 LB, 6 DB",TRADITIONAL,0,Cover-2,Zone,8417,I

In [1453]:
# select columns
play1 = play1[["Unnamed: 0", "quarter", "down", "yardsToGo", "possessionTeam", "defensiveTeam", "yardlineSide", "offenseFormation", "passid"]]
play1.head()

,Unnamed: 0,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,offenseFormation,passid
0,655,2,3,1,TEN,ARI,ARI,I_FORM,655
1,913,2,4,1,NO,GB,GB,JUMBO,913
2,1439,1,4,1,IND,LA,LA,SINGLEBACK,1439
3,1733,2,1,1,PHI,SF,SF,JUMBO,1733
4,1878,4,1,11,MIN,ARI,MIN,I_FORM,1878

In [1454]:
# rename column in player table
play1 = play1.rename(columns = {"Unnamed: 0":"playid", "yardsToGo":"yardstogo", "possessionTeam":"possessionteam", "defensiveTeam": "defensiveteam", "yardlineSide":"yardlineside", "offenseFormation": "offenseformation" })

play1.head()

,playid,quarter,down,yardstogo,possessionteam,defensiveteam,yardlineside,offenseformation,passid
0,655,2,3,1,TEN,ARI,ARI,I_FORM,655
1,913,2,4,1,NO,GB,GB,JUMBO,913
2,1439,1,4,1,IND,LA,LA,SINGLEBACK,1439
3,1733,2,1,1,PHI,SF,SF,JUMBO,1733
4,1878,4,1,11,MIN,ARI,MIN,I_FORM,1878

In [1455]:
play1.to_sql('plays', con=conn, if_exists='append', index=False)

557

In [ ]:
# TABLE timeid

In [1460]:
# import csv file
# read in orginal data
timeid = pd.read_csv('/Users/yagezhang/Desktop/cleaned_week.csv')

# foul.columns
timeid.head()

,Unnamed: 0,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,y,s,a,dis,o,dir,event
0,0,2021090900,97,25511,1,2021-09-10T00:26:31.100,12,TB,right,37.77,24.22,0.29,0.30,0.03,165.16,84.99,None
1,1,2021090900,97,25511,2,2021-09-10T00:26:31.200,12,TB,right,37.78,24.22,0.23,0.11,0.02,164.33,92.87,None
2,2,2021090900,97,25511,3,2021-09-10T00:26:31.300,12,TB,right,37.78,24.24,0.16,0.10,0.01,160.24,68.55,None
3,3,2021090900,97,25511,4,2021-09-10T00:26:31.400,12,TB,right,37.73,24.25,0.15,0.24,0.06,152.13,296.85,None
4,4,2021090900,97,25511,5,2021-09-10T00:26:31.500,12,TB,right,37.69,24.26,0.25,0.18,0.04,148.33,287.55,None

In [1462]:
timeid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781224 entries, 0 to 781223
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     781224 non-null  int64
 1   gameId         781224 non-null  int64
 2   playId         781224 non-null  int64
 3   nflId          781224 non-null  int64
 4   frameId        781224 non-null  int64
 5   time           781224 non-null  object
 6   jerseyNumber   781224 non-null  int64
 7   team           781224 non-null  object
 8   playDirection  781224 non-null  object
 9   x              781224 non-null  float64
 10  y              781224 non-null  float64
 11  s              781224 non-null  float64
 12  a              781224 non-null  float64
 13  dis            781224 non-null  float64
 14  o              781224 non-null  float64
 15  dir            781224 non-null  float64
 16  event          781224 non-null  object
dtypes: float64(7), int64(6), object(4)
memory usage: 101.3+ MB

In [1464]:
timeid1 = pd.merge(timeid, play1, how='left', left_on=["playId"], right_on=["playid"])

timeid1.tail()

,Unnamed: 0,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,...,event,playid,quarter,down,yardstogo,possessionteam,defensiveteam,yardlineside,offenseformation,passid
781219,860996,2021091211,597,52979,74,2021-09-12T20:45:31.200,47,GB,right,65.95,...,None,597,3,1,10,SEA,IND,SEA,SINGLEBACK,597
781220,860997,2021091211,597,52979,75,2021-09-12T20:45:31.300,47,GB,right,65.54,...,None,597,3,1,10,SEA,IND,SEA,SINGLEBACK,597
781221,860998,2021091211,597,52979,76,2021-09-12T20:45:31.400,47,GB,right,65.15,...,None,597,3,1,10,SEA,IND,SEA,SINGLEBACK,597
781222,860999,2021091211,597,52979,77,2021-09-12T20:45:31.500,47,GB,right,64.79,...,None,597,3,1,10,SEA,IND,SEA,SINGLEBACK,597
781223,861000,2021091211,597,52979,78,2021-09-12T20:45:31.600,47,GB,right,64.44,...,None,597,3,1,10,SEA,IND,SEA,SINGLEBACK,597

In [1466]:
timeid2 = pd.merge(timeid1, game1, how='left', left_on=["gameId"], right_on=["gameid"])

timeid2.tail()

,Unnamed: 0,gameId,playId,nflId,frameId,time,jerseyNumber,team,playDirection,x,...,defensiveteam,yardlineside,offenseformation,passid,gameid,season,week,gamedate,hometeamid,visitorteamid
781219,860996,2021091211,597,52979,74,2021-09-12T20:45:31.200,47,GB,right,65.95,...,IND,SEA,SINGLEBACK,597,2021091211,2021,1,09/12/2021,12,31
781220,860997,2021091211,597,52979,75,2021-09-12T20:45:31.300,47,GB,right,65.54,...,IND,SEA,SINGLEBACK,597,2021091211,2021,1,09/12/2021,12,31
781221,860998,2021091211,597,52979,76,2021-09-12T20:45:31.400,47,GB,right,65.15,...,IND,SEA,SINGLEBACK,597,2021091211,2021,1,09/12/2021,12,31
781222,860999,2021091211,597,52979,77,2021-09-12T20:45:31.500,47,GB,right,64.79,...,IND,SEA,SINGLEBACK,597,2021091211,2021,1,09/12/2021,12,31
781223,861000,2021091211,597,52979,78,2021-09-12T20:45:31.600,47,GB,right,64.44,...,IND,SEA,SINGLEBACK,597,2021091211,2021,1,09/12/2021,12,31

In [1467]:
# select columns
timeid3 = timeid2[["Unnamed: 0", "frameId", "playId", "gameId", "time"]]
timeid3.head()

   Unnamed: 0  frameId  playId      gameId                     time
0           0        1      97  2021090900  2021-09-10T00:26:31.100
1           1        2      97  2021090900  2021-09-10T00:26:31.200
2           2        3      97  2021090900  2021-09-10T00:26:31.300
3           3        4      97  2021090900  2021-09-10T00:26:31.400
4           4        5      97  2021090900  2021-09-10T00:26:31.500

In [1468]:
# rename column in player table
timeid3 = timeid3.rename(columns = {"Unnamed: 0":"timeid", "frameId":"frameid", "playId":"playid", "gameId": "gameid" })

timeid3.head()

   timeid  frameid  playid      gameid                     time
0       0        1      97  2021090900  2021-09-10T00:26:31.100
1       1        2      97  2021090900  2021-09-10T00:26:31.200
2       2        3      97  2021090900  2021-09-10T00:26:31.300
3       3        4      97  2021090900  2021-09-10T00:26:31.400
4       4        5      97  2021090900  2021-09-10T00:26:31.500

In [1469]:
timeid3.to_sql('timeid', con=conn, if_exists='append', index=False)

224